.about, .philosophy {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 35%;
}
.text {
    width: 65%;
    text-align: justify;
}
.text p {
    margin-bottom: 0.5em;
}
.title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
}
.about {
    margin: 5em 0 3em 0;
}
.about .image {
    margin-right: 3em;
}

.philosophy {
    margin-bottom: 5em;
}
.philosophy .image {
    margin-left: 5em;
}
.philosophy .text {
    width: 100%;
}

.aboutServices {
    margin: 5em 0;
}
.aboutServices h2 {
    text-align: center;
}
.aboutServices .list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.aboutServices .list .item h3 {
    margin: 0.5em 0;
}