.post {
    width: 40%;
    margin-left: 2em;
}
.title {
    font-family: 'Epilogue', sans-serif;
    font-size: 23px;
    margin: 0.5em 0;
}
.link {
    text-decoration: underline;
    margin-top: 0.6em;
    display: block;
}